@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --Marineblue: hsl(213, 96%, 18%);
  --Purplishblue: hsl(243, 100%, 62%);
  --Pastelblue: hsl(228, 100%, 84%);
  --Lightblue: hsl(206, 94%, 87%);
  --Strawberryred: hsl(354, 84%, 57%);
  --Coolgray: hsl(231, 11%, 63%);
  --Lightgray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
  --para: 1rem;
  --family: "Ubuntu", "Sans-Serif";
  --fw-semi: 400;
  --fw-bold: 500;
  --fw-xbold: 700;
}
a, button, li, a:active, a:focus{
  border: none;
  list-style: none;
  text-decoration: none;
  box-shadow: none;
}
body {
  background-color: var(--Magnolia);
  font-family: var(--family);
}

main {
  background-image: url("../assets/images/bg-sidebar-mobile.svg");
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 30vh;
  position: relative;
}
/* .main-container{
  height: 75vh;
} */
.one,
.two,
.three,
.four {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--White);
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  margin-top: 2rem;
  border: 1px solid var(--White);
}
.two {
  background-color: var(--Lightblue);
  color: var(--Marineblue);
}

.nav-btn :nth-child(1):hover {
  background-color: var(--Lightblue);
  color: var(--Marineblue);
}

section {
  width: 200px;
  position: absolute;
  top: 20%;
  background-color: var(--Alabaster);
  padding: 10px;
  border-radius: 10px;
}

.box{
  height: 10vh;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--Coolgray);
}
.box:hover{
  border: 1px solid var(--Marineblue);
}
.box-content{
  line-height: 6px;
}
.box-content h4, .lbox :nth-child(1){
  color: var(--Marineblue);
}
.box-content p{
  color: var(--Coolgray);
}
.lbox, .lbox:hover{
  height: 6vh;
  border: none;
  background-color: var(--Magnolia);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.form-check-input{
  background-color: var(--Marineblue) !important;
}
.form-check, .form-check-input, .form-check label{
  box-shadow: none !important;
  border: none !important;
}

.top h4 {
  color: var(--Marineblue);
}
p {
  color: var(--Coolgray);
}

.next-btn {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: var(--White);
}
.next-btn .btn {
  position: relative;
  background-color: var(--Marineblue);
  color: var(--Lightblue);
}
.next-btn :nth-child(1){
  background-color: var(--White) !important;
  color: var(--Marineblue);
}


.btn-container a{
  background-color: var(--Marineblue);
  color: var(--Lightblue);
  border: none;
  text-decoration: none;
}
.btn-container a:hover{
  background-color: var(--Marineblue);
  color: var(--Lightblue);
  opacity: .9;
}
/* madia query */

@media (min-width: 768px) and (max-width: 900px){
  section{
    margin-top: 2rem;
  }
} 

@media (min-width: 900px) {
  body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .main-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75vh;
    background-color: var(--White);
    padding: 15px;
    border-radius: 10px;
  }
  main {
    width: 30% !important;
    height: 70vh;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url("../assets/images/bg-sidebar-desktop.svg");
    background-size: cover;
    background-position: 100%;
    border-radius: 10px;
  }
  section {
    width: 60% !important;
    height: 70vh;
    margin-top: 2.5rem;
  }
  main,
  section {
    position: static;
    background-color: var(--White);
  }

  .nav-btn :nth-child(1) {
    margin-top: 0;
  }

  .one,
  .two,
  .three,
  .four {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-btn {
    margin-top: 2rem;
     margin-left: 1.5rem;
  }

  .nav-content span {
    color: var(--Coolgray);
  }
  .nav-content h5 {
    color: var(--White);
  }

  .box{
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 18vh;
    padding: 10px 0 10px 10px;
    }
    .box-content h4{
      font-size: 1rem;
    }
    .main-section {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
}